---
 const personalImageAlt = "Jorge Ruiz"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p> ¡Soy Jorge! Empecé mi camino en la biología y la neurociencia, donde desarrollé una mirada analítica y orientada a la resolución de problemas. Con el tiempo descubrí en la programación la forma de aplicar ese mismo enfoque científico a la creación de soluciones digitales. </p> <p> Tras completar el Grado Superior en Desarrollo de Aplicaciones Multiplataforma he participado en proyectos centrados en la gestión de datos y la usabilidad, y disfruto combinando mi experiencia informática con mi formación científica para crear aplicaciones que aporten valor real a las personas. </p>
  </div>

  

</article>